/* General reset */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: #333;
    line-height: 1.5;
}

/* Nav bar section .................................................................................*/
.navbar {
    background-color: #0053ab;
    padding: 10px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar ul li {
    margin: 0 10px;
    position: relative;
}

.navbar ul :hover {
    background-color: #c9411e;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    white-space: nowrap;
}

.navbar ul li a:hover {
    background-color: #c9411e;
}

/* Dropdown styling */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c9411e;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown ul {
    display: block;
}

.dropdown ul li {
    margin: 0;
    padding: 5px 15px;
}

.dropdown ul li:hover {
    background-color: #c9411e;
}

/* Submenu styling */
.submenu {
    display: none;
    top: 0;
    background-color: #c9411e;
    min-width: 100px;
}

/* Show dropdown and submenu on hover */
.navbar ul li:hover > .dropdown {
    display: block;
}

.dropdown ul li:hover > .submenu {
    display: block;
}


/* Home Button Styling */
.home-container {
    padding-right: 20px;
}

.home-button {
    background-color: #ffcc00;
    color: #003366;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #003366;
    color: #ffcc00;
}

/* Links Styling */
ul {
    padding: 20px;
    margin: 0 auto;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #003366;
}

ul li a {
    color: #003366;
    transition: color 0.3s;
}

ul li a:hover {
    color: #ffcc00;
}

/* Footer Styling */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    line-height: 1.5;
}
